body{
    background-color: #305050;
    color: white;
    font-family: Roboto;
    text-align: center;
    }
    h2{
        color: orange;
    }
    header{
        border-bottom: 1.5px solid gray;
    }
    footer{
        border-top: 1.5px soliod gray ;
    }